.campaign-single {
  background-image: url(../../img/single-campaign.png);
  background-attachment: fixed;
  padding: 140px 15px;
  margin-bottom: 40px;
}

.campaign-single .container .campaign-wrapper {
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.container .campaign-wrapper h3 {
  font-size: 25px;
  font-weight: 600;
}

.container .campaign-wrapper h2 {
  font-size: 50px;
  font-weight: 600;
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.container .campaign-wrapper h2::after {
  content: "";
  position: absolute;
  background-color: #fff;
  height: 4px;
  width: 20%;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.container .campaign-wrapper a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 18px;
  color: black;
  background-color: #fff;
  transition: 0.2s ease all;
}

.container .campaign-wrapper a:hover {
  color: #fff;
  background-color: #1367ef;
  border-color: #1367ef;
}
