.site-main {
  display: flex;
}

.site-main .product-info {
  width: 50%;
  padding-left: 15px;
}

.product-info .product-title {
  font-size: 32px;
  font-weight: 500;
}

.product-info .product-review .star-list {
  display: flex;
  margin: 10px 0;
  color: gold;
}

.product-info .product-review {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.product-info .product-review span {
  font-weight: 600;
  font-size: 12px;
}
.product-info .product-price {
  display: flex;
  align-items: center;
  column-gap: 8px;
}
.product-price .old-price {
  font-size: 18px;
  color: #dee0ea;
}

.product-price .new-price {
  font-size: 20px;
}

.product-info .product-details {
  margin: 15px 0;
  font-size: 14px;
  line-height: 1.4;
}

.product-info .variations-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.variations-form .variations {
  display: flex;
  flex-direction: column;
}

.variations .colors {
  display: flex;
  flex-direction: column;
}
.variations .colors .colors-label {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 10px;
}

.colors .colors-wrapper {
  display: flex;
}

.colors .colors-wrapper .color-wrapper {
  border: 1px solid transparent;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  margin-right: 8px;
  padding: 2px;
  transition: 0.2s border-color ease;
}

.colors .colors-wrapper .color-wrapper.active {
  border-color: #e51414;
}

.colors .colors-wrapper .color-wrapper:hover {
  border-color: #e51414;
}

.colors .colors-wrapper .color-wrapper label {
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.colors .colors-wrapper .color-wrapper .blue-color {
  background-color: blue;
}
.colors .colors-wrapper .color-wrapper .red-color {
  background-color: red;
}
.colors .colors-wrapper .color-wrapper .green-color {
  background-color: green;
}
.colors .colors-wrapper .color-wrapper .purple-color {
  background-color: purple;
}

.colors .colors-wrapper .color-wrapper input {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.site-main .colors .color-wrapper input {
  appearance: none;
}

.variations-form .values {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.variations-form .values .value-label {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 10px;
}

.variations-form .values .values-list {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.variations-form .values .values-list span {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 40px;
  font-size: 14px;
  cursor: pointer;
  border: 1px solid #dee0ea;
  flex: 1;
  transition: 0.2s all ease;
}

.variations-form .values .values-list span.active {
  color: #fff;
  background-color: #e51414;
}

.variations-form .values .values-list span:hover {
  color: #fff;
  background-color: #e51414;
}

.variations .value-buttons {
  display: flex;
  column-gap: 8px;
}

.variations .value-buttons input {
  width: 80px;
}

.variations .value-buttons button {
  width: 100%;
}
.variations .value-buttons .add-cart:disabled:hover {
  background-color: #1367ef;
  color: #fff;
}

.variations-form .product-extra-buttons {
  display: flex;
  align-items: center;
  margin-top: 20px;
  column-gap: 15px;
}

.product-extra-buttons a {
  font-size: 12px;
  color: gray;
}

.product-info .divider {
  padding-top: 20px;
  border-bottom: 1px solid #dee0ea;
}

.product-info .product-meta {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  font-size: 13px;
}

@media (max-width: 768px) {
  .site-main {
    flex-direction: column;
  }

  .site-main .product-gallery {
    width: 100%;
    padding: 0;
  }
  .site-main .product-info {
    width: 100%;
    padding: 0;
    margin-top: 30px;
  }
  .variations-form .values .values-list span {
    padding: 6px;
  }
}
